*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
    90deg,
    rgba(122, 50, 245, 1) 0%,
    rgba(6, 251, 230, 1) 100%
  );
}
h1 {
  font-family: 'Press Start 2P';
  font-size: 3rem;

  margin: 2rem;
  color: #fff;
  text-shadow: 0 0 6px #000;
}
h3 {
  font-family: 'Press Start 2P';
  font-size: 2rem;

  margin: 2rem;
  color: #fff;
  text-shadow: 0 0 6px #000;
}
.legend {
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 24px;
  font-family: 'Press Start 2P';
}
.legend p {
  padding: 0.4rem;
  color: #fff;
  text-shadow: 0 0 6px #000;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  border: solid 1px white;
  box-shadow: 0 0 4px #000;
  width: 302px;
  height: 302px;
}

.grid div {
  width: 20px;
  height: 20px;
}
.shooter {
  background-color: black;
}
.invader {
  background-color: white;
  border-radius: 10px;
}
.boom {
  background-color: red;
}
.laser {
  background-color: orange;
}
